<article ng-repeat="(key, item) in vouchers">
	<div ng-click="item.expanded=!item.expanded">
		<h2>{{item.name}}</h2>
		<p class="smaller">
			<span class="pull-right">
				<span class="muted">within</span>&nbsp;{{getDiff(stores[item.store_id-1].lat,stores[item.store_id-1].long)}}&nbsp;m
			</span>
			<span class="muted">by</span>&nbsp;{{ stores[item.store_id-1].name }}
		</p>
	</div>
	<div ng-show="item.expanded">
		<p>{{item.description}}</p>
		<div class="qr-container"></div>
		<button class="btn btn-primary" ng-click="generateQr(item.name)">Generate QR</button>
	</div>
</article>
<p class="pull-right muted smaller">Logged in as {{ user.name }}</p>
