<article>
	<h2>Add voucher</h2>
	<p><input type="text" ng-model="voucher.name" placeholder="name" class="form-control"></p>
	<p><input type="text" ng-model="voucher.description" placeholder="description" class="form-control"></p>
	<p><input type="text" ng-model="voucher.time_begin" placeholder="time_begin" class="form-control"></p>
	<p><input type="text" ng-model="voucher.time_end" placeholder="time_end" class="form-control"></p>
	<p><input type="text" ng-model="voucher.radius" placeholder="radius" class="form-control"></p>
	<p><input type="text" ng-model="voucher.store_id" placeholder="store_id" class="form-control"></p>
	<p><button type="button" ng-click="newVoucher(voucher)" class="btn btn-primary">Submit</button></p>
</article>

<p class="pull-right muted smaller">Logged in as {{ user.name }}</p>