
<article>
	<h2>Add store</h2>
	<p><input type="text" ng-model="store.name" placeholder="name" class="form-control"></p>
	<p><input type="text" ng-model="store.description" placeholder="description" class="form-control"></p>
	<p><input type="text" ng-model="store.address" placeholder="address" class="form-control"></p>
	<p><input type="text" ng-model="store.lat" placeholder="lat" class="form-control"></p>
	<p><input type="text" ng-model="store.long" placeholder="long" class="form-control"></p>
	<p><input type="password" ng-model="store.password" placeholder="password" class="form-control"></p>
	<p><button type="button" ng-click="newStore(store)" class="btn btn-primary">Submit</button></p>
</article>